.detailMain {
    border-radius: 25px;
    background-color: lightgray;
    padding: 10px;
    margin-top: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 10px;
    display: inline-block;
}



.post{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.comments{
    margin-top: 10px;

}

.comment{
    margin: 20px;
}