.postsMain {
    height: 93.5vh;
    /* border: 3px solid red; */
    height: 90vh;
}

.makePost {
    /* border: 3px solid green; */
    border-radius: 25px;
    margin-top: 2vh;
    margin-left: 15px;
    margin-right: 15px;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;

}


.postsList {
    height: 60vh;
    border: 3px solid aliceblue;
    border-radius: 25px;
    background-color: aliceblue;
    margin-top: 2vh;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;

}

.posts {
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 100vw;
}

.searchBox{ 
    border-radius: 25px;
    /* width: 50vh; */
}
